
<div class="cardContainere">
    <div class="carta1">
      <div class="imagenCarta1">
        
      </div>
      <div class="textoCarta1">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt minus, optio ullam consectetur corporis, pariatur quaerat vitae dicta, maiores fugit consequatur possimus fuga? Voluptates similique enim esse omnis porro ducimus!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi amet molestias blanditiis mollitia saepe laborum debitis velit tempore rem consequuntur similique in aut doloremque nihil beatae, animi ut commodi enim!

        </p>
    </div>
    </div>
  </div>